[Unit]
Description=Gunicorn instance to serve main app
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/myapp/mysimpleapp 
Environment="PATH=/usr/local/bin"
ExecStart=/usr/local/bin/gunicorn --workers 1 --bind unix:mysimplapp.sock -m 007 wsgi:app 

[Install]
WantedBy=multi-user.target
